window-theme = dark
window-decoration = true
window-padding-balance = true 
window-save-state = always
macos-titlebar-style=transparent
theme = Dracula

font-family = JetBrainsMono Nerd Font
font-style = Bold
font-size = 16.0
adjust-cell-height = 5%

mouse-hide-while-typing = true
mouse-scroll-multiplier = 2

keybind = command+left=text:\x00p
keybind = command+right=text:\x00n
keybind = command+t=text:\x00c
keybind = command+w=text:\x00x
keybind = alt+left=unbind
keybind = alt+right=unbind
keybind = command+shift+t=new_tab

shell-integration = zsh
copy-on-select = clipboard

cursor-style = block
cursor-style-blink = false
